:root {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background-color: #b7d5f5;
    font-family: sans-serif;
}

h1 {
    font-weight: bolder;
    letter-spacing: 0;
    font-size: 4rem;
    color: #FFFFFF;
}

.accordion {
    margin: 0 auto;
    width: 85vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.accordion > li > label > span {
    transition: all .4s linear;
}

.accordion:hover > li > input:checked ~ .item__label > .item__icon, .accordion:hover > li > input:checked ~ .item__label > .item__heading{
    color: #000000;
}

.accordion > li > label > .item__icon {
    opacity: 0;
}

.accordion:hover > li > label > .item__icon {
    opacity: 1;
}

.item__input {
    display: none;
}

.item {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 250px;
    background-color: #eeeeee;
    padding: 1rem 1.5rem;
    list-style: none;
    border-radius: 1rem;
    box-shadow:  .3rem .3rem .5rem -.1rem rgba(0,0,0, .2), -.3rem -.3rem .5rem -.1rem rgba(255,255,255, .2);
}

.item__label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    cursor: pointer;
}

.item__heading {
    font-size: 2.5rem;
}

.item__icon {
    font-size: 3rem;
    margin-right: 1rem;
    transition: all .4s linear;
    transform: rotateZ(90deg);
}

.item__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.item__content > img {
    padding: 1rem;
    border-radius: 2rem;
}

.item__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s linear;
}

.item__input:checked ~ .item__content {
    max-height: 25rem;
}

.item__input:checked ~ .item__label > .item__icon {
    transform: rotateZ(270deg);
    color: #1a94ea;
}

.item__input:checked ~ .item__label > .item__heading {
    color: #1a94ea;
}

.item__label:hover ~ .item__content, .item__content:hover{
    max-height: 25rem;
}

/*.item__label:hover > .item__icon {*/
/*    transform: rotateZ(270deg);*/
/*}*/